/vendor
/bin
/log/*
/web/assets
/web/cache
/web/dist
/web/tinymce
/cache/*
!/cache/.gitkeep
!/log/.gitkeep
!/cache/.htaccess
.docker/mysql-data/*
.idea
!.docker/mysql-data/.gitkeep
.env

# Thelia default templates
/templates/frontOffice/default
/templates/frontOffice/modern
/templates/backOffice/default
/templates/email/default
/templates/pdf/default

# Thelia config
/local/config
/local/setup
/local/media
/local/session
!local/media/images/store/favicon.png
!local/media/images/store/thelia.svg
!local/media/images/store/banner.png

# Thelia modules
/local/modules/*

### Please add your dependancies here
