/vendor
/bin
/log/*
/web/assets
/web/cache
/cache/*
!/cache/.gitkeep
!/log/.gitkeep
!/cache/.htaccess
.docker/mysql-data/*
!.docker/mysql-data/.gitkeep

# Thelia default templates
/templates/frontOffice/default
/templates/backOffice/default
/templates/email/default
/templates/pdf/default

# Thelia config
/local/config
/local/setup
/local/media
/local/session

# Thelia modules
/local/modules/*

### Please add your dependancies here
